*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
*::before{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.code-wrapper{
	flex: 1;
	height: 50%;
	padding: 15px;
}
.preview-wrapper{
	flex: 1;
	height: 50%;
}
#code {
	overflow: hidden;
	height: 100%;
	white-space: pre;
}
.actions {
	position: absolute;
	right: 20px;
	top: 20px;
	
	display: flex;
	flex-direction: column;
}
.actions>button{
	border: none;
	color: #fc0d1c;
	padding: 5px 10px;
	text-align: center;
	margin-bottom:  10px;
	background-color: #999;
	opacity: .4;
}
.actions>button:focus{
	outline: none;
}
.actions>button.active {
	box-shadow: 0 1px 2px rgba(0 ,0, 0, .5);
	
}
