/* CSS common style*/

.clearfix::after {
  content: '';
  display: block;
  clear: both;
} 

.layout {
  min-width: 1140px;
  margin: 0 auto;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

section {
	display: block;
	padding: 100px 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 15px 0;
	
}
